<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:flashMessages />

	<div class="tx_justimmo_list">
		<f:if condition="{total_count} > 0">
			<f:then>
				<div class="tx_justimmo_list_meta_controls">
					<f:render partial="Realty/ListControls" arguments="{ total_count: total_count, order: order }" />
			
					<f:render partial="Realty/Pager" arguments="{ is_pageable: is_pageable, is_pageable_next_page: is_pageable_next_page, current_page: current_page, next_page: next_page, previous_page: previous_page, last_page: last_page }" />
				</div>
			
				<f:for each="{realties}" as="realty">
					<div class="tx_justimmo_list_item">
						<div class="tx_justimmo_list_item_img">
							<f:if condition="{realty.erstes_bild">
								<f:then>
									<f:link.action controller="Realty" action="show" arguments="{ id: realty, position: realty.position }" pageUid="{settings.realtyDetailPid}"><img src="{realty.erstes_bild}" /></f:link.action>
								</f:then>
							</f:if>
						</div>
						<div class="tx_justimmo_list_item_content">
							<h1>
								<f:link.action controller="Realty" action="show" arguments="{ id: realty, position: realty.position }" pageUid="{settings.realtyDetailPid}">
									<f:if condition="{realty.titel}">
										<f:then>
											{realty.titel}
										</f:then>
										<f:else>
											{realty.id}
										</f:else>
									</f:if>
								</f:link.action>
							</h1>
							<h2>{realty.plz} {realty.ort}</h2>
							<div class="tx_justimmo_list_item_meta">
								 <p>
									Objektnr.: {realty.objektnummer}
									<f:if condition="{realty.kaufpreis}">
										<f:then>
											<f:if condition="{realty.kaufpreis} > 0">
												<f:then>
												| Kaufpreis: <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.kaufpreis}</f:format.number> &euro;
												</f:then>
												<f:else>
												| Kaufpreis auf Anfrage
												</f:else>
											</f:if>
										</f:then>
									</f:if>
									<f:if condition="{realty.gesamtmiete}">
										<f:then>
											<f:if condition="{realty.gesamtmiete} > 0">
												<f:then>
													| Gesamtmiete: <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.gesamtmiete}</f:format.number> &euro;
												</f:then>
												<f:else>
													| Miete auf Anfrage
												</f:else>
											</f:if>
										</f:then>
									</f:if>
									<f:if condition="{realty.wohnflaeche}">
										<f:then>
											| Wohnfläche: <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.wohnflaeche}</f:format.number> m²
										</f:then>
									</f:if>
									<f:if condition="{realty.nutzflaeche}">
										<f:then>
											| Nutzfläche: <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.nutzflaeche}</f:format.number> m²
										</f:then>
									</f:if>
									<f:if condition="{realty.anzahl_zimmer}">
										<f:then>
											| Zimmer: {realty.anzahl_zimmer}
										</f:then>
									</f:if>
								</p>
							</div>
						</div>
					</div>
				</f:for>
		
				<div class="tx_justimmo_list_meta_controls">
					<f:render partial="Realty/Pager" arguments="{ is_pageable: is_pageable, is_pageable_next_page: is_pageable_next_page, current_page: current_page, next_page: next_page, previous_page: previous_page, last_page: last_page }" />
				</div>
			</f:then>
			<f:else>
				Keine Ergebnisse!
			</f:else>
		</f:if>
	</div>
</f:section>