<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<p>This is the direct links view</p>

	<ul class="menu">
		<li>
			<f:cObject typoscriptObjectPath="plugin.tx_justimmo.settings.directSearch.10" />
		</li>
		<li>
			<f:cObject typoscriptObjectPath="plugin.tx_justimmo.settings.directSearch.20" />
		</li>
		<li>
			<f:cObject typoscriptObjectPath="plugin.tx_justimmo.settings.directSearch.30" />
		</li>
		<li>
			<f:cObject typoscriptObjectPath="plugin.tx_justimmo.settings.directSearch.40" />
		</li>
		<li>
			<f:cObject typoscriptObjectPath="plugin.tx_justimmo.settings.directSearch.50" />
		</li>
		<li>
			<f:cObject typoscriptObjectPath="plugin.tx_justimmo.settings.directSearch.60" />
		</li>
	</ul>
</f:section>