<div id="tx_justimmo_detail_navigation">
	<ul class="menu menu-horizontal">
		<li>
			<f:if condition="{position} > 1">
				<f:link.action controller="Realty" action="showPosition" arguments="{ position: position }">vorheriges Objekt</f:link.action>
			</f:if>
		</li>
		<li>
			<f:link.action controller="Realty" action="list">zurück zur Übersicht</f:link.action>
		</li>
		<li class="last-item">
			<f:if condition="{position} < {total_count}">
				<f:link.action controller="Realty" action="showPosition" arguments="{ position: position + 1 }">nächstes Objekt</f:link.action>
			</f:if>
		</li>
		<li>
			<f:link.action controller="Realty" action="expose" arguments="{ id: realty.verwaltung_techn.objektnr_intern }">EXPOSÉ</f:link.action>
		</li>
	</ul>
</div>