<div id="tx_justimmo_detail_navigation">
	<ul class="menu menu-horizontal">
		<f:if condition="{position} > 1">
			<li>
				<f:link.action controller="Realty" action="show" arguments="{ position: prev_position }">vorheriges Objekt</f:link.action>
			</li>
		</f:if>
		<li>
			<f:link.action controller="Realty" action="list" pageUid="{settings.searchResultsPid}">zurück zur Übersicht</f:link.action>
		</li>
		<f:if condition="{total_count} > 1">
			<f:if condition="{position} < {total_count}">
				<li class="last-item">
					<f:link.action controller="Realty" action="show" arguments="{ position: next_position }">nächstes Objekt</f:link.action>
				</li>
			</f:if>
		</f:if>
		<li>
			<f:link.action controller="Realty" action="expose" arguments="{ id: realty.objektnrIntern }">EXPOSÉ</f:link.action>
		</li>
	</ul>
</div>