<div class="tx_justimmo_list_meta_total_count">
	<h1>{pager.total_items} Objekte</h1>
</div>

<div class="tx_justimmo_list_sortcontrols">
	Sortieren nach:
	<f:if condition="{order.isOrderedByOrt}">
		<f:then>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'ort', direction: order.oppositeDirection } }">Ort</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/{order.direction}_arrow.gif" width="9" height="9" alt="Sortieren nach Ort" /> |
		</f:then>
		<f:else>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'ort', direction: 'asc' } }">Ort</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/asc_arrow.gif" width="9" height="9" alt="Sortieren nach Ort" /> |
		</f:else>
	</f:if>
	<f:if condition="{order.isOrderedByKaufpreis}">
		<f:then>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'kaufpreis', direction: order.oppositeDirection } }">Kaufpreis</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/{order.direction}_arrow.gif" width="9" height="9" alt="Sortieren nach Kaufpreis" /> |
		</f:then>
		<f:else>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'kaufpreis', direction: 'asc' } }">Kaufpreis</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/asc_arrow.gif" width="9" height="9" alt="Sortieren nach Kaufpreis" /> |
		</f:else>
	</f:if>
	<f:if condition="{order.isOrderedByGesamtmiete}">
		<f:then>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'gesamtmiete', direction: order.oppositeDirection } }">Miete</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/{order.direction}_arrow.gif" width="9" height="9" alt="Sortieren nach Miete" /> |
		</f:then>
		<f:else>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'gesamtmiete', direction: 'asc' } }">Miete</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/asc_arrow.gif" width="9" height="9" alt="Sortieren nach Miete" /> |
		</f:else>
	</f:if>
	<f:if condition="{order.isOrderedByWohnflaeche}">
		<f:then>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'wohnflaeche', direction: order.oppositeDirection } }">Fläche</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/{order.direction}_arrow.gif" width="9" height="9" alt="Sortieren nach Fläche" /> |
		</f:then>
		<f:else>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'wohnflaeche', direction: 'asc' } }">Fläche</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/asc_arrow.gif" width="9" height="9" alt="Sortieren nach Fläche" /> |
		</f:else>
	</f:if>
	<f:if condition="{order.isOrderedByZimmer}">
		<f:then>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'zimmer', direction: order.oppositeDirection } }">Zimmer</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/{order.direction}_arrow.gif" width="9" height="9" alt="Sortieren nach Zimmer" /> |
		</f:then>
		<f:else>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'zimmer', direction: 'asc' } }">Zimmer</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/asc_arrow.gif" width="9" height="9" alt="Sortieren nach Zimmer" /> |
		</f:else>
	</f:if>
	<f:if condition="{order.isOrderedByPlz}">
		<f:then>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'plz', direction: order.oppositeDirection } }">PLZ</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/{order.direction}_arrow.gif" width="9" height="9" alt="Sortieren nach PLZ" />
		</f:then>
		<f:else>
			<f:link.action controller="Realty" action="order" arguments="{ order: { value: 'plz', direction: 'asc' } }">PLZ</f:link.action>
			<f:image src="EXT:justimmo/Resources/Public/Icons/asc_arrow.gif" width="9" height="9" alt="Sortieren nach PLZ" />
		</f:else>
	</f:if>
</div>