<div class="tx_justimmo_list_meta_total_count">
	<h1>{total_count} Objekte</h1>
</div>

<div class="tx_justimmo_list_sortcontrols">
	Sortieren nach:
	<f:link.action controller="Realty" action="order" arguments="{ order: 'ort' }">Ort</f:link.action>
	<img src="/themes/layout-5/images/up_arrow.gif"> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'kaufpreis' }">Kaufpreis</f:link.action>
	<img src="/themes/layout-5/images/up_arrow.gif"> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'gesamtmiete' }">Miete</f:link.action>
	<img src="/themes/layout-5/images/up_arrow.gif"> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'wohnflaeche' }">Fläche</f:link.action>
	<img src="/themes/layout-5/images/up_arrow.gif"> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'zimmer' }">Zimmer</f:link.action>
	<img src="/themes/layout-5/images/up_arrow.gif"> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'plz' }">PLZ</f:link.action>
	<img src="/themes/layout-5/images/up_arrow.gif">
</div>