<div class="tx_justimmo_list_meta_total_count">
	<h1>{total_count} Objekte</h1>
</div>

<div class="tx_justimmo_list_sortcontrols">
	Sortieren nach:
	<f:link.action controller="Realty" action="order" arguments="{ order: 'ort' }">Ort</f:link.action>
	<f:image src="EXT:justimmo/Resources/Public/Icons/up_arrow.gif" width="9" height="9" alt="Aufsteigend sortieren nach Ort" /> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'kaufpreis' }">Kaufpreis</f:link.action>
	<f:image src="EXT:justimmo/Resources/Public/Icons/up_arrow.gif" width="9" height="9" alt="Aufsteigend sortieren nach Kaufpreis" /> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'gesamtmiete' }">Miete</f:link.action>
	<f:image src="EXT:justimmo/Resources/Public/Icons/up_arrow.gif" width="9" height="9" alt="Aufsteigend sortieren nach Miete" /> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'wohnflaeche' }">Fläche</f:link.action>
	<f:image src="EXT:justimmo/Resources/Public/Icons/up_arrow.gif" width="9" height="9" alt="Aufsteigend sortieren nach Fläche" /> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'zimmer' }">Zimmer</f:link.action>
	<f:image src="EXT:justimmo/Resources/Public/Icons/up_arrow.gif" width="9" height="9" alt="Aufsteigend sortieren nach Zimmer" /> |
	<f:link.action controller="Realty" action="order" arguments="{ order: 'plz' }">PLZ</f:link.action>
	<f:image src="EXT:justimmo/Resources/Public/Icons/up_arrow.gif" width="9" height="9" alt="Aufsteigend sortieren nach PLZ" />
</div>