<div class="tx_justimmo_detail">
	<h1>{realty.freitexte.objekttitel}</h1>
	<h2>
		{realty.geo.plz}
		{realty.geo.ort}<f:if condition="{immobilie.freitexte.lage}">, {realty.freitexte.lage}</f:if>
	</h2>

	<f:if condition="{realty.nbAnhaenge} > 0">
		<div class="tx_justimmo_detail_image">
			<img src="{realty.anhaenge.0.daten.pfad}">
		</div>

		<div class="tx_justimmo_detail_images_thumbnails">
			<f:for each="{realty.anhaenge}" as="anhang">
				<a class="tx_justimmo_detail_image_thumbnail_item" href="{anhang.daten.pfad}">
					<img src="{anhang.daten.small}" alt="">
				</a>
			</f:for>
		</div>
	</f:if>

	<div class="tx_justimmo_detail_description">
		<f:format.html parseFuncTSPath="lib.parseFunc">{realty.freitexte.objektbeschreibung}</f:format.html>
	</div>
</div>

<div class="tx_justimmo_detail_sidebar">
	<div class="tx_justimmo_detail_data">
		<h1>Eckdaten Objektnummer {realty.objektnrExtern}</h1>
		<ul class="menu">
			<li>
				<f:if condition="{realty.objektartNormalized}">
					<strong>Objektart:</strong>
					{realty.objektartNormalized}
				</f:if>
			</li>
			<li>
				<f:if condition="{realty.nbNutzungsart} > 0">
					<strong>Nutzungsart: </strong>
					<f:if condition="{realty.isNutzungsartWohnen}">Wohnen</f:if>
					<f:if condition="{realty.isNutzungsartGewerbe}">Gewerbe</f:if>
					<f:if condition="{realty.isNutzungsartAnlage}">Anlage</f:if>
				</f:if>
			</li>
		</ul>

		<h1>Preisinformation</h1>
		<ul class="menu">
			<f:if condition="{realty.preise.kaufpreis}">
				<li><strong>Kaufpreis:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.preise.kaufpreis}</f:format.number> &euro;</li>
			</f:if>

			<f:if condition="{realty.nettomiete}">
				<li><strong>Nettomiete:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.nettomiete}</f:format.number> &euro;</li>
			</f:if>

			<f:if condition="{realty.preise.warmmiete}">
				<li><strong>Gesamtmiete: (inkl. USt. &amp; BK):</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.preise.warmmiete}</f:format.number> &euro;</li>
			</f:if>

			<f:if condition="{realty.preise.kaution}">
				<li><strong>Kaution:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.preise.kaution}</f:format.number> &euro;</li>
			</f:if>

			<f:if condition="{realty.preise.aussen_courtage}">
				<li><strong>Provision:</strong> {realty.preise.aussen_courtage}</li>
			</f:if>
		</ul>

		<h1>Details</h1>
		<ul class="menu">
			<f:if condition="{realty.zustand_angaben.baujahr}">
				<li><strong>Baujahr:</strong> {realty.zustand_angaben.baujahr}</li>
			</f:if>

			<f:if condition="{realty.flaechen.anzahl_zimmer}">
				<li><strong>Zimmer:</strong> {realty.flaechen.anzahl_zimmer}</li>
			</f:if>

			<f:if condition="{realty.flaechen.wohnflaeche}">
				<li><strong>Wohnfl&auml;che:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.flaechen.wohnflaeche}</f:format.number> m<sup>2</sup></li>
			</f:if>

			<f:if condition="{realty.flaechen.nutzflaeche}">
				<li><strong>Nutzfläche:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.flaechen.nutzflaeche}</f:format.number> m<sup>2</sup></li>
			</f:if>

			<f:if condition="{realty.flaechen.gesamtflaeche}">
				<li><strong>Gesamtfl&auml;che:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.flaechen.gesamtflaeche}</f:format.number> m<sup>2</sup></li>
			</f:if>

			<f:if condition="{realty.flaechen.grundstuecksflaeche}">
				<li><strong>Grundst&uuml;cksfl&auml;che:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.flaechen.grundstuecksflaeche}</f:format.number> m<sup>2</sup></li>
			</f:if>

			<f:if condition="{realty.flaechen.anzahl_badezimmer}">
				<li><strong>B&auml;der:</strong> {realty.flaechen.anzahl_badezimmer}</li>
			</f:if>

			<f:if condition="{realty.flaechen.anzahl_sep_wc}">
				<li><strong>WC:</strong> {realty.flaechen.anzahl_sep_wc}</li>
			</f:if>

			<f:if condition="{realty.flaechen.anzahl_balkon_terrassen}">
				<li><strong>Balkon/Terrassen:</strong> {realty.flaechen.anzahl_balkon_terrassen}, <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.flaechen.balkon_terrasse_flaeche}</f:format.number> m<sup>2</sup></li>
			</f:if>

			<f:if condition="{realty.flaechen.gartenflaeche}">
				<li><strong>Garten:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.flaechen.gartenflaeche}</f:format.number> m<sup>2</sup></li>
			</f:if>

			<f:if condition="{realty.flaechen.kellerflaeche}">
				<li><strong>Keller:</strong> <f:format.number decimalSeparator="," thousandsSeparator=".">{realty.flaechen.kellerflaeche}</f:format.number> m<sup>2</sup></li>
			</f:if>
		</ul>
	</div>

	<f:if condition="{realty.hasAusstattungsBeschreibung}">
		<div class="tx_justimmo_detail_interior">
			<h2>Ausstattung</h2>
			<p>{realty.freitexte.ausstatt_beschr}</p>
		</div>
	</f:if>

	<f:if condition="{realty.nbDokumente} > 0">
		<div class="tx_justimmo_detail_documents">
			<h2>Dokumente</h2>
			<f:for each="{realty.dokumente}" as="anhang">
				<a href="{anhang.pfad}" target="_blank">{anhang.titel}</a><br>
			</f:for>
		</div>
	</f:if>

	<div class="tx_justimmo_detail_contact">
		<h2>Ihr Ansprechpartner</h2>
		<p>
			{realty.kontaktperson.vorname} {realty.kontaktperson.name}<br>
			<a href="mailto:{realty.kontaktperson.email_direkt}">E-Mail an {realty.kontaktperson.vorname} {realty.kontaktperson.name}</a><br>

			<f:if condition="{realty.hasTelefonZentrale}">
				Telefon: {realty.kontaktperson.tel_zentrale}<br>
			</f:if>

			<f:if condition="{realty.hasTelefonHandy}">
				Mobil: {realty.kontaktperson.tel_handy}<br>
			</f:if>

			<f:if condition="{realty.hasFax}">
				Fax: {realty.kontaktperson.tel_fax}
			</f:if>
		</p>
	</div>
</div>